USClothesWebSite/USClothesWebSite.Win.Logic/Service References/LogAPI/LogAPI.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/USClothesWebSite.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/USClothesWebSite.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2123/WebServices/LogAPI.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfActionLog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ActionLog" nillable="true" type="tns:ActionLog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActionLog" nillable="true" type="tns:ArrayOfActionLog" />
  <xs:complexType name="ActionLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionLogType" nillable="true" type="tns:ActionLogType" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ActionLog" nillable="true" type="tns:ActionLog" />
  <xs:complexType name="ActionLogType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ActionLogType" nillable="true" type="tns:ActionLogType" />
</xs:schema>