USClothesWebSite/USClothesWebSite.Win.Logic/Service References/DictionaryAPI/DictionaryAPI1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://usclothes.ru/webservice/dictionaryapi" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DictionaryAPI" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://usclothes.ru/webservice/dictionaryapi" location="http://localhost:2123/WebServices/DictionaryAPI.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IDictionaryAPI" type="i0:IDictionaryAPI">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBrands">
      <soap:operation soapAction="http://usclothes.ru/webservice/dictionaryapi/IDictionaryAPI/GetBrands" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorDataFault">
        <soap:fault use="literal" name="ErrorDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateBrand">
      <soap:operation soapAction="http://usclothes.ru/webservice/dictionaryapi/IDictionaryAPI/CreateBrand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorDataFault">
        <soap:fault use="literal" name="ErrorDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateBrand">
      <soap:operation soapAction="http://usclothes.ru/webservice/dictionaryapi/IDictionaryAPI/UpdateBrand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorDataFault">
        <soap:fault use="literal" name="ErrorDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <soap:operation soapAction="http://usclothes.ru/webservice/dictionaryapi/IDictionaryAPI/GetCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorDataFault">
        <soap:fault use="literal" name="ErrorDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSubCategoriesByCategory">
      <soap:operation soapAction="http://usclothes.ru/webservice/dictionaryapi/IDictionaryAPI/GetSubCategoriesByCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorDataFault">
        <soap:fault use="literal" name="ErrorDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSubCategories">
      <soap:operation soapAction="http://usclothes.ru/webservice/dictionaryapi/IDictionaryAPI/GetSubCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorDataFault">
        <soap:fault use="literal" name="ErrorDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateCategory">
      <soap:operation soapAction="http://usclothes.ru/webservice/dictionaryapi/IDictionaryAPI/CreateCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorDataFault">
        <soap:fault use="literal" name="ErrorDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateCategory">
      <soap:operation soapAction="http://usclothes.ru/webservice/dictionaryapi/IDictionaryAPI/UpdateCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorDataFault">
        <soap:fault use="literal" name="ErrorDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateSubCategory">
      <soap:operation soapAction="http://usclothes.ru/webservice/dictionaryapi/IDictionaryAPI/CreateSubCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorDataFault">
        <soap:fault use="literal" name="ErrorDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateSubCategory">
      <soap:operation soapAction="http://usclothes.ru/webservice/dictionaryapi/IDictionaryAPI/UpdateSubCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorDataFault">
        <soap:fault use="literal" name="ErrorDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSizesBySubCategoryAndBrand">
      <soap:operation soapAction="http://usclothes.ru/webservice/dictionaryapi/IDictionaryAPI/GetSizesBySubCategoryAndBrand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorDataFault">
        <soap:fault use="literal" name="ErrorDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSizes">
      <soap:operation soapAction="http://usclothes.ru/webservice/dictionaryapi/IDictionaryAPI/GetSizes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorDataFault">
        <soap:fault use="literal" name="ErrorDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateSize">
      <soap:operation soapAction="http://usclothes.ru/webservice/dictionaryapi/IDictionaryAPI/CreateSize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorDataFault">
        <soap:fault use="literal" name="ErrorDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateSize">
      <soap:operation soapAction="http://usclothes.ru/webservice/dictionaryapi/IDictionaryAPI/UpdateSize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorDataFault">
        <soap:fault use="literal" name="ErrorDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DictionaryAPI">
    <wsdl:port name="BasicHttpBinding_IDictionaryAPI" binding="tns:BasicHttpBinding_IDictionaryAPI">
      <soap:address location="http://localhost:2123/WebServices/DictionaryAPI.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>