USClothesWebSite/USClothesWebSite.Win.Logic/Service References/DictionaryAPI/DictionaryAPI2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://usclothes.ru/webservice/dictionaryapi" elementFormDefault="qualified" targetNamespace="http://usclothes.ru/webservice/dictionaryapi" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2123/WebServices/DictionaryAPI.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/USClothesWebSite.DTO" />
  <xs:element name="GetBrands">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBrandsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/USClothesWebSite.DTO" minOccurs="0" name="GetBrandsResult" nillable="true" type="q1:ArrayOfBrand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBrand">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/USClothesWebSite.DTO" minOccurs="0" name="brand" nillable="true" type="q2:Brand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBrandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateBrandResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/USClothesWebSite.DTO" minOccurs="0" name="brand" nillable="true" type="q3:Brand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBrand">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/USClothesWebSite.DTO" minOccurs="0" name="brand" nillable="true" type="q4:Brand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBrandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateBrandResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/USClothesWebSite.DTO" minOccurs="0" name="GetCategoriesResult" nillable="true" type="q5:ArrayOfCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubCategoriesByCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/USClothesWebSite.DTO" minOccurs="0" name="category" nillable="true" type="q6:Category" />
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubCategoriesByCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/USClothesWebSite.DTO" minOccurs="0" name="GetSubCategoriesByCategoryResult" nillable="true" type="q7:ArrayOfSubCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/USClothesWebSite.DTO" minOccurs="0" name="GetSubCategoriesResult" nillable="true" type="q8:ArrayOfSubCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/USClothesWebSite.DTO" minOccurs="0" name="category" nillable="true" type="q9:Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateCategoryResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/USClothesWebSite.DTO" minOccurs="0" name="category" nillable="true" type="q10:Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/USClothesWebSite.DTO" minOccurs="0" name="category" nillable="true" type="q11:Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCategoryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSubCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/USClothesWebSite.DTO" minOccurs="0" name="subCategory" nillable="true" type="q12:SubCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSubCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateSubCategoryResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/USClothesWebSite.DTO" minOccurs="0" name="subCategory" nillable="true" type="q13:SubCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSubCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/USClothesWebSite.DTO" minOccurs="0" name="subCategory" nillable="true" type="q14:SubCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSubCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSubCategoryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSizesBySubCategoryAndBrand">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/USClothesWebSite.DTO" minOccurs="0" name="subCategory" nillable="true" type="q15:SubCategory" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/USClothesWebSite.DTO" minOccurs="0" name="brand" nillable="true" type="q16:Brand" />
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSizesBySubCategoryAndBrandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/USClothesWebSite.DTO" minOccurs="0" name="GetSizesBySubCategoryAndBrandResult" nillable="true" type="q17:ArrayOfSize" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSizes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSizesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/USClothesWebSite.DTO" minOccurs="0" name="GetSizesResult" nillable="true" type="q18:ArrayOfSize" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSize">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/USClothesWebSite.DTO" minOccurs="0" name="size" nillable="true" type="q19:Size" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateSizeResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/USClothesWebSite.DTO" minOccurs="0" name="size" nillable="true" type="q20:Size" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSize">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/USClothesWebSite.DTO" minOccurs="0" name="size" nillable="true" type="q21:Size" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSizeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>