USClothesWebSite/USClothesWebSite.Win.Logic/Service References/AdministrationAPI/AdministrationAPI1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/USClothesWebSite.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/USClothesWebSite.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2123/WebServices/AdministrationAPI.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Settings">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ChangeUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="RublesPerDollar" type="xs:decimal" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Settings" nillable="true" type="tns:Settings" />
</xs:schema>