USClothesWebSite/USClothesWebSite.Win.Logic/Service References/AdministrationAPI/AdministrationAPI2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://usclothes.ru/webservice/administrationapi" elementFormDefault="qualified" targetNamespace="http://usclothes.ru/webservice/administrationapi" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2123/WebServices/AdministrationAPI.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/USClothesWebSite.DTO" />
  <xs:element name="GetSettings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/USClothesWebSite.DTO" minOccurs="0" name="GetSettingsResult" nillable="true" type="q1:Settings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/USClothesWebSite.DTO" minOccurs="0" name="updatedSettings" nillable="true" type="q2:Settings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSettingsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>