USClothesWebSite/USClothesWebSite.Win.Logic/Service References/AdministrationAPI/AdministrationAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://usclothes.ru/webservice/administrationapi" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://usclothes.ru/webservice/administrationapi" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://usclothes.ru/webservice/administrationapi/Imports">
      <xsd:import schemaLocation="http://localhost:2123/WebServices/AdministrationAPI.svc?xsd=xsd0" namespace="http://usclothes.ru/webservice/administrationapi" />
      <xsd:import schemaLocation="http://localhost:2123/WebServices/AdministrationAPI.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2123/WebServices/AdministrationAPI.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/USClothesWebSite.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdministrationAPI_GetSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSettings" />
  </wsdl:message>
  <wsdl:message name="IAdministrationAPI_GetSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministrationAPI_UpdateSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSettings" />
  </wsdl:message>
  <wsdl:message name="IAdministrationAPI_UpdateSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSettingsResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdministrationAPI">
    <wsdl:operation name="GetSettings">
      <wsdl:input wsaw:Action="http://usclothes.ru/webservice/administrationapi/IAdministrationAPI/GetSettings" message="tns:IAdministrationAPI_GetSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://usclothes.ru/webservice/administrationapi/IAdministrationAPI/GetSettingsResponse" message="tns:IAdministrationAPI_GetSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSettings">
      <wsdl:input wsaw:Action="http://usclothes.ru/webservice/administrationapi/IAdministrationAPI/UpdateSettings" message="tns:IAdministrationAPI_UpdateSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://usclothes.ru/webservice/administrationapi/IAdministrationAPI/UpdateSettingsResponse" message="tns:IAdministrationAPI_UpdateSettings_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>