USClothesWebSite/USClothesWebSite.Win.Logic/Service References/ImageAPI/ImageAPI.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://usclothes.ru/webservice/imageapi" elementFormDefault="qualified" targetNamespace="http://usclothes.ru/webservice/imageapi" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2123/WebServices/ImageAPI.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/USClothesWebSite.DTO" />
  <xs:element name="UploadPicture">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="picture" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadPictureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/USClothesWebSite.DTO" minOccurs="0" name="UploadPictureResult" nillable="true" type="q1:Picture" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePicture">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/USClothesWebSite.DTO" minOccurs="0" name="picture" nillable="true" type="q2:Picture" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePictureResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>