USClothesWebSite/USClothesWebSite.Win.Logic/Service References/ImageAPI/ImageAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://usclothes.ru/webservice/imageapi" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://usclothes.ru/webservice/imageapi" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://usclothes.ru/webservice/imageapi/Imports">
      <xsd:import schemaLocation="http://localhost:2123/WebServices/ImageAPI.svc?xsd=xsd0" namespace="http://usclothes.ru/webservice/imageapi" />
      <xsd:import schemaLocation="http://localhost:2123/WebServices/ImageAPI.svc?xsd=xsd3" namespace="http://usclothes.ru/dto/errordata" />
      <xsd:import schemaLocation="http://localhost:2123/WebServices/ImageAPI.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2123/WebServices/ImageAPI.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/USClothesWebSite.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IImageAPI_UploadPicture_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadPicture" />
  </wsdl:message>
  <wsdl:message name="IImageAPI_UploadPicture_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadPictureResponse" />
  </wsdl:message>
  <wsdl:message name="IImageAPI_UploadPicture_ErrorDataFault_FaultMessage">
    <wsdl:part xmlns:q1="http://usclothes.ru/dto/errordata" name="detail" element="q1:ErrorData" />
  </wsdl:message>
  <wsdl:message name="IImageAPI_DeletePicture_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePicture" />
  </wsdl:message>
  <wsdl:message name="IImageAPI_DeletePicture_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePictureResponse" />
  </wsdl:message>
  <wsdl:message name="IImageAPI_DeletePicture_ErrorDataFault_FaultMessage">
    <wsdl:part xmlns:q2="http://usclothes.ru/dto/errordata" name="detail" element="q2:ErrorData" />
  </wsdl:message>
  <wsdl:portType name="IImageAPI">
    <wsdl:operation name="UploadPicture">
      <wsdl:input wsaw:Action="http://usclothes.ru/webservice/imageapi/IImageAPI/UploadPicture" message="tns:IImageAPI_UploadPicture_InputMessage" />
      <wsdl:output wsaw:Action="http://usclothes.ru/webservice/imageapi/IImageAPI/UploadPictureResponse" message="tns:IImageAPI_UploadPicture_OutputMessage" />
      <wsdl:fault wsaw:Action="http://usclothes.ru/webservice/imageapi/IImageAPI/UploadPictureErrorDataFault" name="ErrorDataFault" message="tns:IImageAPI_UploadPicture_ErrorDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePicture">
      <wsdl:input wsaw:Action="http://usclothes.ru/webservice/imageapi/IImageAPI/DeletePicture" message="tns:IImageAPI_DeletePicture_InputMessage" />
      <wsdl:output wsaw:Action="http://usclothes.ru/webservice/imageapi/IImageAPI/DeletePictureResponse" message="tns:IImageAPI_DeletePicture_OutputMessage" />
      <wsdl:fault wsaw:Action="http://usclothes.ru/webservice/imageapi/IImageAPI/DeletePictureErrorDataFault" name="ErrorDataFault" message="tns:IImageAPI_DeletePicture_ErrorDataFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>