USClothesWebSite/USClothesWebSite.Win.Logic/Service References/ImageAPI/ImageAPI1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/USClothesWebSite.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/USClothesWebSite.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Picture">
    <xs:sequence>
      <xs:element minOccurs="0" name="FullPictureURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreviewPictureURL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Picture" nillable="true" type="tns:Picture" />
</xs:schema>