USClothesWebSite/USClothesWebSite.Win.Logic/Service References/DocumentAPI/DocumentAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://usclothes.ru/webservice/documentapi" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DocumentAPI" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://usclothes.ru/webservice/documentapi" location="http://localhost:2123/WebServices/DocumentAPI.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IDocumentAPI" type="i0:IDocumentAPI">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetParcels">
      <soap:operation soapAction="http://usclothes.ru/webservice/documentapi/IDocumentAPI/GetParcels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorDataFault">
        <soap:fault use="literal" name="ErrorDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateParcel">
      <soap:operation soapAction="http://usclothes.ru/webservice/documentapi/IDocumentAPI/CreateParcel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorDataFault">
        <soap:fault use="literal" name="ErrorDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateParcel">
      <soap:operation soapAction="http://usclothes.ru/webservice/documentapi/IDocumentAPI/UpdateParcel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorDataFault">
        <soap:fault use="literal" name="ErrorDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOrders">
      <soap:operation soapAction="http://usclothes.ru/webservice/documentapi/IDocumentAPI/GetOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorDataFault">
        <soap:fault use="literal" name="ErrorDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOrdersByParcel">
      <soap:operation soapAction="http://usclothes.ru/webservice/documentapi/IDocumentAPI/GetOrdersByParcel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorDataFault">
        <soap:fault use="literal" name="ErrorDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateOrder">
      <soap:operation soapAction="http://usclothes.ru/webservice/documentapi/IDocumentAPI/CreateOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorDataFault">
        <soap:fault use="literal" name="ErrorDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder">
      <soap:operation soapAction="http://usclothes.ru/webservice/documentapi/IDocumentAPI/UpdateOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorDataFault">
        <soap:fault use="literal" name="ErrorDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOrderItems">
      <soap:operation soapAction="http://usclothes.ru/webservice/documentapi/IDocumentAPI/GetOrderItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorDataFault">
        <soap:fault use="literal" name="ErrorDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateOrderItem">
      <soap:operation soapAction="http://usclothes.ru/webservice/documentapi/IDocumentAPI/CreateOrderItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorDataFault">
        <soap:fault use="literal" name="ErrorDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderItem">
      <soap:operation soapAction="http://usclothes.ru/webservice/documentapi/IDocumentAPI/UpdateOrderItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorDataFault">
        <soap:fault use="literal" name="ErrorDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDistributorTransfers">
      <soap:operation soapAction="http://usclothes.ru/webservice/documentapi/IDocumentAPI/GetDistributorTransfers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorDataFault">
        <soap:fault use="literal" name="ErrorDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateDistributorTransfer">
      <soap:operation soapAction="http://usclothes.ru/webservice/documentapi/IDocumentAPI/CreateDistributorTransfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorDataFault">
        <soap:fault use="literal" name="ErrorDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateDistributorTransfer">
      <soap:operation soapAction="http://usclothes.ru/webservice/documentapi/IDocumentAPI/UpdateDistributorTransfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorDataFault">
        <soap:fault use="literal" name="ErrorDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DocumentAPI">
    <wsdl:port name="BasicHttpBinding_IDocumentAPI" binding="tns:BasicHttpBinding_IDocumentAPI">
      <soap:address location="http://localhost:2123/WebServices/DocumentAPI.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>