USClothesWebSite/USClothesWebSite.Win.Logic/Service References/DocumentAPI/DocumentAPI.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/USClothesWebSite.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/USClothesWebSite.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2123/WebServices/DocumentAPI.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfParcel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Parcel" nillable="true" type="tns:Parcel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParcel" nillable="true" type="tns:ArrayOfParcel" />
  <xs:complexType name="Parcel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ChangeUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distributor" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Orders" nillable="true" type="tns:ArrayOfOrder" />
      <xs:element minOccurs="0" name="PurchaserSpentOnDelivery" type="xs:decimal" />
      <xs:element minOccurs="0" name="ReceivedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RublesPerDollar" type="xs:decimal" />
      <xs:element minOccurs="0" name="SentDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TrackingNumber" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Parcel" nillable="true" type="tns:Parcel" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="ChangeDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ChangeUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Roles" nillable="true" type="tns:ArrayOfRole" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Role" nillable="true" type="tns:Role" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRole" nillable="true" type="tns:ArrayOfRole" />
  <xs:complexType name="Role">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="ChangeDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ChangeUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerPaid" type="xs:decimal" />
      <xs:element minOccurs="0" name="CustomerPhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerPostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerPrepaid" type="xs:decimal" />
      <xs:element minOccurs="0" name="DistributorSpentOnDelivery" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderItems" nillable="true" type="tns:ArrayOfOrderItem" />
      <xs:element minOccurs="0" name="Parcel" nillable="true" type="tns:Parcel" />
      <xs:element minOccurs="0" name="RublesPerDollar" type="xs:decimal" />
      <xs:element minOccurs="0" name="TrackingNumber" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="ArrayOfOrderItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderItem" nillable="true" type="tns:OrderItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderItem" nillable="true" type="tns:ArrayOfOrderItem" />
  <xs:complexType name="OrderItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="ChangeDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ChangeUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Order" nillable="true" type="tns:Order" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductSize" nillable="true" type="tns:ProductSize" />
      <xs:element minOccurs="0" name="PurchaserPaid" type="xs:decimal" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="OrderItem" nillable="true" type="tns:OrderItem" />
  <xs:complexType name="ProductSize">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="ChangeDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ChangeUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
      <xs:element minOccurs="0" name="Size" nillable="true" type="tns:Size" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ProductSize" nillable="true" type="tns:ProductSize" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Brand" nillable="true" type="tns:Brand" />
      <xs:element minOccurs="0" name="ChangeDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ChangeUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullPictureURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreviewPictureURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductSizes" nillable="true" type="tns:ArrayOfProductSize" />
      <xs:element minOccurs="0" name="SubCategory" nillable="true" type="tns:SubCategory" />
      <xs:element minOccurs="0" name="VendorShopURL" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="Brand">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="ChangeDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ChangeUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Brand" nillable="true" type="tns:Brand" />
  <xs:complexType name="ArrayOfProductSize">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductSize" nillable="true" type="tns:ProductSize" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductSize" nillable="true" type="tns:ArrayOfProductSize" />
  <xs:complexType name="SubCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="tns:Category" />
      <xs:element minOccurs="0" name="ChangeDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ChangeUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="SubCategory" nillable="true" type="tns:SubCategory" />
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="ChangeDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ChangeUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubCategories" nillable="true" type="tns:ArrayOfSubCategory" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="ArrayOfSubCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SubCategory" nillable="true" type="tns:SubCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubCategory" nillable="true" type="tns:ArrayOfSubCategory" />
  <xs:complexType name="Size">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Brand" nillable="true" type="tns:Brand" />
      <xs:element minOccurs="0" name="ChangeDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ChangeUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Height" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubCategory" nillable="true" type="tns:SubCategory" />
      <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Size" nillable="true" type="tns:Size" />
  <xs:complexType name="ArrayOfDistributorTransfer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DistributorTransfer" nillable="true" type="tns:DistributorTransfer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDistributorTransfer" nillable="true" type="tns:ArrayOfDistributorTransfer" />
  <xs:complexType name="DistributorTransfer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="ChangeDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ChangeUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="RublesPerDollar" type="xs:decimal" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="DistributorTransfer" nillable="true" type="tns:DistributorTransfer" />
</xs:schema>