USClothesWebSite/USClothesWebSite.Win.Logic/Service References/SecurityAPI/SecurityAPI32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://usclothes.ru/dto/errordata" elementFormDefault="qualified" targetNamespace="http://usclothes.ru/dto/errordata" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ErrorData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UtcTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorData" nillable="true" type="tns:ErrorData" />
</xs:schema>