USClothesWebSite/USClothesWebSite.Win.Logic/Service References/SecurityAPI/SecurityAPI12.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://usclothes.ru/webservice/securityapi" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://usclothes.ru/webservice/securityapi" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://usclothes.ru/webservice/securityapi/Imports">
      <xsd:import schemaLocation="http://localhost:2123/WebServices/SecurityAPI.svc?xsd=xsd0" namespace="http://usclothes.ru/webservice/securityapi" />
      <xsd:import schemaLocation="http://localhost:2123/WebServices/SecurityAPI.svc?xsd=xsd3" namespace="http://usclothes.ru/dto/errordata" />
      <xsd:import schemaLocation="http://localhost:2123/WebServices/SecurityAPI.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2123/WebServices/SecurityAPI.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/USClothesWebSite.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISecurityAPI_LogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="ISecurityAPI_LogIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityAPI_LogIn_ErrorDataFault_FaultMessage">
    <wsdl:part xmlns:q1="http://usclothes.ru/dto/errordata" name="detail" element="q1:ErrorData" />
  </wsdl:message>
  <wsdl:message name="ISecurityAPI_GetCurrentUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentUser" />
  </wsdl:message>
  <wsdl:message name="ISecurityAPI_GetCurrentUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityAPI_GetCurrentUser_ErrorDataFault_FaultMessage">
    <wsdl:part xmlns:q2="http://usclothes.ru/dto/errordata" name="detail" element="q2:ErrorData" />
  </wsdl:message>
  <wsdl:message name="ISecurityAPI_GetAvailableRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableRoles" />
  </wsdl:message>
  <wsdl:message name="ISecurityAPI_GetAvailableRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableRolesResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityAPI_GetAvailableRoles_ErrorDataFault_FaultMessage">
    <wsdl:part xmlns:q3="http://usclothes.ru/dto/errordata" name="detail" element="q3:ErrorData" />
  </wsdl:message>
  <wsdl:message name="ISecurityAPI_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="ISecurityAPI_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityAPI_CreateUser_ErrorDataFault_FaultMessage">
    <wsdl:part xmlns:q4="http://usclothes.ru/dto/errordata" name="detail" element="q4:ErrorData" />
  </wsdl:message>
  <wsdl:message name="ISecurityAPI_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="ISecurityAPI_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityAPI_UpdateUser_ErrorDataFault_FaultMessage">
    <wsdl:part xmlns:q5="http://usclothes.ru/dto/errordata" name="detail" element="q5:ErrorData" />
  </wsdl:message>
  <wsdl:message name="ISecurityAPI_ResetPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetPassword" />
  </wsdl:message>
  <wsdl:message name="ISecurityAPI_ResetPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityAPI_ResetPassword_ErrorDataFault_FaultMessage">
    <wsdl:part xmlns:q6="http://usclothes.ru/dto/errordata" name="detail" element="q6:ErrorData" />
  </wsdl:message>
  <wsdl:message name="ISecurityAPI_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ISecurityAPI_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityAPI_ChangePassword_ErrorDataFault_FaultMessage">
    <wsdl:part xmlns:q7="http://usclothes.ru/dto/errordata" name="detail" element="q7:ErrorData" />
  </wsdl:message>
  <wsdl:message name="ISecurityAPI_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="ISecurityAPI_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityAPI_GetUsers_ErrorDataFault_FaultMessage">
    <wsdl:part xmlns:q8="http://usclothes.ru/dto/errordata" name="detail" element="q8:ErrorData" />
  </wsdl:message>
  <wsdl:portType name="ISecurityAPI">
    <wsdl:operation name="LogIn">
      <wsdl:input wsaw:Action="http://usclothes.ru/webservice/securityapi/ISecurityAPI/LogIn" message="tns:ISecurityAPI_LogIn_InputMessage" />
      <wsdl:output wsaw:Action="http://usclothes.ru/webservice/securityapi/ISecurityAPI/LogInResponse" message="tns:ISecurityAPI_LogIn_OutputMessage" />
      <wsdl:fault wsaw:Action="http://usclothes.ru/webservice/securityapi/ISecurityAPI/LogInErrorDataFault" name="ErrorDataFault" message="tns:ISecurityAPI_LogIn_ErrorDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentUser">
      <wsdl:input wsaw:Action="http://usclothes.ru/webservice/securityapi/ISecurityAPI/GetCurrentUser" message="tns:ISecurityAPI_GetCurrentUser_InputMessage" />
      <wsdl:output wsaw:Action="http://usclothes.ru/webservice/securityapi/ISecurityAPI/GetCurrentUserResponse" message="tns:ISecurityAPI_GetCurrentUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://usclothes.ru/webservice/securityapi/ISecurityAPI/GetCurrentUserErrorDataFault" name="ErrorDataFault" message="tns:ISecurityAPI_GetCurrentUser_ErrorDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableRoles">
      <wsdl:input wsaw:Action="http://usclothes.ru/webservice/securityapi/ISecurityAPI/GetAvailableRoles" message="tns:ISecurityAPI_GetAvailableRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://usclothes.ru/webservice/securityapi/ISecurityAPI/GetAvailableRolesResponse" message="tns:ISecurityAPI_GetAvailableRoles_OutputMessage" />
      <wsdl:fault wsaw:Action="http://usclothes.ru/webservice/securityapi/ISecurityAPI/GetAvailableRolesErrorDataFault" name="ErrorDataFault" message="tns:ISecurityAPI_GetAvailableRoles_ErrorDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://usclothes.ru/webservice/securityapi/ISecurityAPI/CreateUser" message="tns:ISecurityAPI_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://usclothes.ru/webservice/securityapi/ISecurityAPI/CreateUserResponse" message="tns:ISecurityAPI_CreateUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://usclothes.ru/webservice/securityapi/ISecurityAPI/CreateUserErrorDataFault" name="ErrorDataFault" message="tns:ISecurityAPI_CreateUser_ErrorDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://usclothes.ru/webservice/securityapi/ISecurityAPI/UpdateUser" message="tns:ISecurityAPI_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://usclothes.ru/webservice/securityapi/ISecurityAPI/UpdateUserResponse" message="tns:ISecurityAPI_UpdateUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://usclothes.ru/webservice/securityapi/ISecurityAPI/UpdateUserErrorDataFault" name="ErrorDataFault" message="tns:ISecurityAPI_UpdateUser_ErrorDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <wsdl:input wsaw:Action="http://usclothes.ru/webservice/securityapi/ISecurityAPI/ResetPassword" message="tns:ISecurityAPI_ResetPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://usclothes.ru/webservice/securityapi/ISecurityAPI/ResetPasswordResponse" message="tns:ISecurityAPI_ResetPassword_OutputMessage" />
      <wsdl:fault wsaw:Action="http://usclothes.ru/webservice/securityapi/ISecurityAPI/ResetPasswordErrorDataFault" name="ErrorDataFault" message="tns:ISecurityAPI_ResetPassword_ErrorDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://usclothes.ru/webservice/securityapi/ISecurityAPI/ChangePassword" message="tns:ISecurityAPI_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://usclothes.ru/webservice/securityapi/ISecurityAPI/ChangePasswordResponse" message="tns:ISecurityAPI_ChangePassword_OutputMessage" />
      <wsdl:fault wsaw:Action="http://usclothes.ru/webservice/securityapi/ISecurityAPI/ChangePasswordErrorDataFault" name="ErrorDataFault" message="tns:ISecurityAPI_ChangePassword_ErrorDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://usclothes.ru/webservice/securityapi/ISecurityAPI/GetUsers" message="tns:ISecurityAPI_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://usclothes.ru/webservice/securityapi/ISecurityAPI/GetUsersResponse" message="tns:ISecurityAPI_GetUsers_OutputMessage" />
      <wsdl:fault wsaw:Action="http://usclothes.ru/webservice/securityapi/ISecurityAPI/GetUsersErrorDataFault" name="ErrorDataFault" message="tns:ISecurityAPI_GetUsers_ErrorDataFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>